:root {
    --color1: rgb(181, 190, 59);
}

@font-face {
    font-family: "font-1";
    src: url(./assets/fonts/VegawantyRegular-owEPx.ttf);
}
@font-face {
    font-family: "font-2";
    src: url(./assets/fonts/algha-demo.otf);
}
@font-face {
    font-family: "font-3";
    src: url(./assets/fonts/ThenaskleRegular-x3Vlq.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(161, 123, 80);
    height: 100vh;
    overflow: hidden;
}

.container {
    position: absolute;
    bottom: 0;
    left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}


h1 {
    font-family: "font-1";
    font-size: 8rem;
    color: rgb(189, 184, 51);;
    position: absolute;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#enter-btn {
    font-family: "font-1";
    background: transparent;
    cursor: pointer;
    font-size: 2.3rem;
    padding: 10px 20px;
    color: rgb(181, 190, 59);
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#enter-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: -1;
    background: url(./assets/img/bg-gta.jpg);
    background-size: cover;
    backdrop-filter: blur(100px);
  }
  
  #enter-btn:hover::before {
    opacity: 1;
  }

#enter-btn:hover {
    color: black;
    backdrop-filter: blur(100px);
    background: url(./assets/img/bg-gta.jpg);
    background-size: cover;
}
  
#monImage {
    width: 550px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    transition: transform 3s cubic-bezier(0.2, 0.8, 0.2, 1), transform 3s cubic-bezier(0.2, 0.8, 0.2, 1);
}